<h1><%= @application.name %></h1>
  <p><%= @application.address %></p>
  <p><%= @application.description %></p>
  <p><%= @application.status %></p>
  <% @application.list_pets.each do |pet| %>
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p><%= button_to 'Approve', "/admin/applications/#{@application.id}/approve" %>
  <% end %>
