<h1><%= @application.name %></h1>
  <p><%= @application.address %></p>
  <p><%= @application.description %></p>
  <p><%= @application.status %></p>
  <% @application.list_pets.each_with_index do |pet, index| %>
    <div id="pet-<%= index %>">
      <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
      <% if !@pets_approved.include?(pet.id.to_s) %>
        <%= button_to 'Approve', "/admin/applications/#{@application.id}", method: :get, params: {pet_id: pet.id} %>
      <% else %>
        <p>Approved</p>
      <% end %>
    </div>
  <% end %>
