<h1><%= @application.name %></h1>
  <p><%= @application.address %></p>
  <p><%= @application.description %></p>
  <p><%= @application.status %></p>
  <% @application.pets.each do |pet| %>
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  <% end %>
  <% if @application.status == "In Progress" %>
    <p>Add a Pet to this Application</p>
    <%= form_tag("/applications/#{@application.id}", method: :get) do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= hidden_field(:redirect, :application_id, :value => @application.id) %>
      <%= submit_tag ("Find Pet") %>
    <% end %>

    <% if @pets %>
      <% @pets.each do |pet| %>
        <p><%= pet.name %></p>
      <% end %>
    <% end %>
  <% end %> 

